var pad = require('./padStart.wxs')
var formatNumber = function (num) {
  var numLength = ('' + num).length
  if (numLength <= 5) {
    return num
  } else if (numLength >= 9) {
    return (num / 100000000).toFixed(1) + '亿'
  } else {
    return (num / 10000).toFixed(1) + '万'
  }
}
// formatTime : version A
var formatTime = function (num) {
  if (num <= 60) {
    return '00 : ' + num
  } else {
    var S = num % 60
    var M = (num - S) / 60
    var H = 0
    if (S < 10) S = '0' + S
    if (M < 10) M = '0' + M
    if (M > 60) {
      var empty = M % 60
      H = (M - empty) / 60
      M = empty
      if (M < 10) M = '0' + M
    }
    if (H) {
      if (H < 10) return '0' + H + ' : ' + M + ' : ' + S
      else {
        return H + ' : ' + M + ' : ' + S
      }
    }
    return M + ' : ' + S
  }
}
// simplify formatTime : version B
var formatTime1 = function (num) {
  var num = parseInt(num)
  if (num < 61) return '00' + ' : ' + padStart.padStart(num)
  var S = num % 60
  var M = (num - S) / 60
  var H = 0
  if (M < 61) return pad.padStart(M) + ' : ' + pad.padStart(S)
  else {
    var exchangeMin = M % 60
    H = (M - exchangeMin) / 60
    M = exchangeMin
    return pad.padStart(H) + ' : ' + pad.padStart(M) + ' : ' + pad.padStart(S)
  }
}
module.exports = {
  formatNumber: formatNumber,
  formatTime: formatTime,
  formatTime1: formatTime1
}
